.search{
    transition: height 0.3s ease;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.01),
    2px 0px 6px rgba(0, 0, 0, 0.1),
    -2px 0px 6px rgba(0, 0, 0, 0.1),
    0px 4px 8px rgba(0, 0, 0, 0.2);
    
    display: flex;
}
.search:not(.expanded){
    justify-content: space-between;
}
.search.expanded {
    flex-direction: column;
    gap: 15px;
    height: auto;
}
.search .expandedInput{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3px 3px 0px 0px;
}
.search .expandedInput .editor, .notes .note .display{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.search input, .search textarea{
    width: 100%;
    outline: none;
    font-size:15px;
    border: none;
}
.search .input::placeholder{
    font-weight: 500;
    color: black;
}
.search textarea {
    resize: vertical; /* Allow the textarea to resize vertically */
}
.search .edit-options .edit-label .save input,.search .edit-options .edit-label .cancel{
    border: 0.5px groove lightgrey;
    padding: 3px 8px;
    border-radius: 5px;
    cursor: pointer;
}
.search .edit-options .edit-icons{
    cursor: pointer;
}
.search .edit-options .edit-label .save input:hover{
    color: white;
    background-color: rgb(245, 197, 77);
}
.search .edit-options{
    display: flex;
    justify-content: space-between;
}
.search .edit-options .edit-icons,.search .edit-options .edit-label{
    display: flex;
}

@media screen and (max-width: 483px) {
    .search{
        width: 290px;
        height: 40px;
        padding: 5px 8px;
    }
    .search .expandedInput{
        min-height: 80px;
    }
    .search .edit-options .edit-icons,.search .edit-options .edit-label{
        gap: 10px;
    }
}

@media screen and (min-width: 484px) and (max-width:737px){
    .search{
        width: 350px;
        height: 40px;
        padding: 5px 8px;
    }
    .search .expandedInput{
        min-height: 90px;
    }
    .search .edit-options .edit-icons,.search .edit-options .edit-label{
        gap: 20px;
    }
}

@media screen and (min-width: 738px) and (max-width: 1023px) {
    .search{
        width: 450px;
        height: 40px;
        padding:10px 15px;
    }
    .search .expandedInput{
        min-height: 100px;
    }
    .search .edit-options .edit-icons,.search .edit-options .edit-label{
        display: flex;
        gap: 20px;
    }
}

@media screen and (min-width: 1024px) {
    .search{
        width: 550px;
        height: 40px;
        padding:10px 15px;
    }
    .search .expandedInput{
        min-height: 100px;
    }
    .search .edit-options .edit-icons,.search .edit-options .edit-label{
        display: flex;
        gap: 20px;
    }
}