.search{
    transition: height 0.3s ease;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.01),
    2px 0px 6px rgba(0, 0, 0, 0.1),
    -2px 0px 6px rgba(0, 0, 0, 0.1),
    0px 4px 8px rgba(0, 0, 0, 0.2);
    
    display: flex;
}
.search:not(.expanded){
    justify-content: space-between;
    align-items: center;
    padding:8px 15px;
}
.search.expanded {
    flex-direction: column;
    gap: 15px;
    height: auto;
}
.search .expandedInput{
    max-height: 50vh;
    display: flex;
  flex-direction: column;
  overflow: hidden;
  background: white;
}
.search .expandedInput .editor{
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
.search .expandedInput .editor .title{
    font-weight: bold;
}
.search input, .search textarea{
    height: auto;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
}
.search .expandedInput .edit-options{
    display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
  background: white;
  position: sticky;
  bottom: 0;
}
.search .input::placeholder,.search .fa-pen{
    font-weight: 600;
    color: rgb(104, 103, 103);
}
.search .expandedInput .edit-options .edit-icons, .search .expandedInput .edit-options .edit-label{
    display: flex;
    cursor: pointer;
}
.search .edit-options .edit-label .save input,.search .edit-options .edit-label .cancel{
    cursor: pointer;
  border: none;
  background-color: white;
}
.search .edit-options .edit-icons{
    cursor: pointer;
}
.search .edit-options .edit-label .save input{
    color: #fcba03;
}
.search .edit-options .edit-label .save input:hover{
    color: white;
    background-color: rgb(245, 197, 77);
}
.search .expandedInput .edit-options .cancel{
    color: darkgray;
}
.search .edit-options .edit-label .cancel:hover{
    color: white;
  background-color: #383838;
}

@media screen and (max-width: 483px) {
    .search{
        width: 290px;
        height: 40px;
    }
    .search .expandedInput .editor{
        padding:6px 10px;
        gap:5px;
    }
    .search .expandedInput .editor .title{
        font-size: 18px;
        line-height: 1.4rem;
    }
    .search .expandedInput .editor .content{
        font-size: 16px;
        line-height: 1.2rem;
    }
    .search .expandedInput .edit-options{
        padding:5px 10px;
    }
    .search .edit-options .edit-icons,.search .edit-options .edit-label{
        gap: 12px;
    }
    .search .expandedInput .edit-options .cancel,.search .expandedInput .edit-options .save input{
        padding: 3px 8px;
        border-radius: 4px;
    }
}

@media screen and (min-width: 484px) and (max-width:737px){
    .search{
        width: 350px;
        height: 40px;
    }
    .search .expandedInput .editor{
        padding:8px 12px;
        gap:5px;
    }
    .search .expandedInput .editor .title{
        font-size: 18px;
        line-height: 1.4rem;
    }
    .search .expandedInput .editor .content{
        font-size: 16px;
        line-height: 1.2rem;
    }
    .search .expandedInput .edit-options{
        padding:8px 12px;
    }
    .search .edit-options .edit-icons,.search .edit-options .edit-label{
        gap: 14px;
    }
    .search .expandedInput .edit-options .cancel,.search .expandedInput .edit-options .save input{
        padding: 3px 8px;
        border-radius: 4px;
    }
}

@media screen and (min-width: 738px) and (max-width: 1023px) {
    .search{
        width: 450px;
        height: 40px;
    }
    .search .expandedInput .editor{
        padding:10px 15px;
        gap:8px;
    }
    .search .expandedInput .editor .title{
        font-size: 18px;
        line-height: 1.4rem;
    }
    .search .expandedInput .editor .content{
        font-size: 16px;
        line-height: 1.2rem;
    }
    .search .expandedInput .edit-options{
        padding:10px 15px;
    }
    .search .edit-options .edit-icons,.search .edit-options .edit-label{
        gap: 15px;
    }
    .search .expandedInput .edit-options .cancel,.search .expandedInput .edit-options .save input{
        padding: 5px 10px;
        border-radius: 4px;
    }
}

@media screen and (min-width: 1024px) {
    .search{
        width: 550px;
        height: 40px;
    }
    .search .expandedInput{
        max-height: 70vh;
    }
    .search .expandedInput .editor{
        padding:10px 15px;
        gap:5px;
    }
    .search .expandedInput .editor .title{
        font-size: 20px;
        line-height: 1.5rem;
    }
    .search .expandedInput .editor .content{
        font-size: 18px;
        line-height: 1.4rem;
    }
    .search .expandedInput .edit-options{
        padding:10px 20px;
    }
    .search .edit-options .edit-icons,.search .edit-options .edit-label{
        gap: 20px;
    }
    .search .expandedInput .edit-options .cancel,.search .expandedInput .edit-options .save input{
        padding: 5px 10px;
        border-radius: 4px;
    }
}