*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: #202124;
  direction: ltr;
  font-family: "Roboto", arial, sans-serif;
  font-size: 15px;
  overflow-x: hidden;
}
/* styles for mobile screen specific */
@media screen and (max-width: 483px) {}

@media screen and (min-width: 484px) and (max-width:737px){}

@media screen and (min-width: 738px) and (max-width: 1023px) {}

@media screen and (min-width: 1024px) {}