*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: #202124;
  direction: ltr;
  font-family: "Roboto", arial, sans-serif;
  font-size: 15px;
  overflow-y: hidden;
}
/* styles for mobile screen specific */
@media screen and (max-width: 600px) {
    
}