.success-container {
    position: fixed;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999; /* Ensure it's above other content */
  }
  
  .success-message {
    color: #07a63c;
    font-weight: bold;
  }
  .progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #009900;
    animation: progress 3s linear forwards;
  }
  
  @keyframes progress {
    from {
      width: 100%;
    }
    to {
      width: 0%;
    }
  }
  
@media screen and (max-width: 483px) {
  .success-container{
    top: 25px;
    right: 25px;
    padding: 8px 12px;
    border-radius: 5px;
  }
  .progress-bar{
    height: 2px;
  }
.success-message{
  font-size: small;
}
}

@media screen and (min-width: 484px) and (max-width:737px){
  .success-container{
    top: 30px;
    right: 30px;
    padding: 8px 12px;
    border-radius: 5px;
  }
  .progress-bar{
    height: 2.5px;
  }
.success-message{
  font-size: 14px;
}
}

@media screen and (min-width: 738px) and (max-width: 1080px) {
  .success-container{
    top: 40px;
    right: 40px;
    padding: 10px 15px;
    border-radius: 5px;
  }
  .progress-bar{
    height: 4px;
  }
.success-message{
  font-size: 14px;
}
}

@media screen and (min-width: 1081px) {
  .success-container{
    top: 50px;
    right: 50px;
    padding: 15px 30px;
    border-radius: 5px;
  }
  .progress-bar{
    height: 5px;
  }
.success-message{
  font-size: 15px;
}
}