.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main .pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .pagination button.active {
    background-color: rgb(240, 225, 176);
}
  
.main .pagination button:hover:not(.active){
    background-color: #ddd;
}
.main .pagination button{
    color: black;
    float: left;
    text-decoration: none;
    border: none;
}

@media screen and (max-width: 483px) {
    .main .notes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .main{
        padding: 15px;
        gap: 25px;
    }
    .main .pagination{
        gap: 15px;
    }
    .main .pagination button {
        padding: 3px 5px;
    }
}

@media screen and (min-width: 484px) and (max-width:737px){
    .main{
        padding: 20px;
        gap: 30px;
    }
    .main .notes{
        display: grid;
    }
    .main .notes{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        gap: 40px;
    }
    .main .pagination{
        gap: 15px;
    }
    .main .pagination button {
        padding: 5px 8px;
    }
}

@media screen and (min-width: 738px) and (max-width: 1080px) {
    .main .notes{
        display: grid;
    }
    .main{
        padding: 30px;
        gap: 40px;
    }
    /* notes styles */
    .main .notes{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        gap: 40px;
    }
    
    /* pagination styles */
    .main .pagination {
        gap: 15px;
    }
      
    .main .pagination button {
        padding: 8px 16px;
    }
}

@media screen and (min-width: 1081px) {
    .main{
        padding: 40px;
        gap: 50px;
    }
    .main .notes{
        display: grid;
    }
    .main .notes{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 50px;
    }
    
    /* pagination styles */
    .main .pagination {
        gap: 5px;
    }
      
    .main .pagination button {
        padding: 8px 16px;
    }
}